.add-user-card {
  height: 255px;
  width: 175px;
}

.add-user-card :hover{
  cursor: pointer;
}

.add-event-card {
  margin-top: 15px;
  height: 255px;
  width: 255px;
}

.add-event-card :hover{
  margin-top: 15px;
  cursor: pointer;
}

.add-text {
  font-weight: 500;
  color: #b9b9b9;
  text-align: center;
  font-size: 16pt;
  margin-top: 100px;
}

.plus {
  font-size: 24pt;
}
