.recommend-events-container {
  margin-left: 200px;
  width: 80%;
  height: 100%;
  display: inline-flex;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
}

.recommend-events-background {
  /*TODO - margins messed up*/
  margin-top: -20px;
  height: 700px;
  width: auto;
  background: white;
}

.events-container {
  display: inline;
  margin-right: 200px;
  width: auto;
  height: 275px;
  overflow-x: scroll;
  white-space: nowrap;
}
