/*============ GENERAL CREAT USER STUFF  ==============*/
.create-user-card-holder {
  margin-left: 16.67%;
}

.create-user-background {
  margin-top: -20px;
  min-height: 705px;
  /*width: auto;*/
  background: #d9d9d9;
}

/* =========== ADDING FEATURE CARDS ============*/
.add-user-card {
  height: 255px;
}

.add-user-card :hover{
  cursor: pointer;
}

.add-event-card {
  height: 255px;
  min-width: 255px;
}

.add-event-card :hover{
  cursor: pointer;
}

.add-text {
  font-weight: 500;
  color: #b9b9b9;
  text-align: center;
  font-size: 16pt;
  margin-top: 100px;
}

.plus {
  font-size: 24pt;
}

/*========== EVENT CARD  ==============*/
.event-card {
  height: 255px;
  min-width: 255px;
}

.event-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18pt;
}

.event-description {
  word-wrap: break-word;
  margin: 5px;
  width: 245px;
  height: 100px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-category {

}

.event-location {

}

.button-group {
  margin: 10px;
}

/*============ USER CARD  ==============*/
.user-card {
  height: 255px;
}

.select-style {
    margin: 2px;
    margin-left: 9px;
    border: 1px solid #ccc;
    width: 147px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}
