/*============ GENERAL CREAT USER STUFF  ==============*/

.create-user-background {
  margin-top: -20px;
  min-height: 705px;
  /*background: #d9d9d9;
  background: -webkit-linear-gradient(#d9d9d9, white);
  background: -o-linear-gradient(#d9d9d9, white);
  background: -moz-linear-gradient(#d9d9d9, white);
  background: linear-gradient(#d9d9d9, white); */

  background: #3CC6F2; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3CC6F2, #eee); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3CC6F2, #eee); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#3CC6F2, #eee); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3CC6F2, #eee); /* Standard syntax */
}

/* =========== ADDING FEATURE CARDS ============*/
.add-user-card {
  height: 255px;
}

.add-user-card :hover{
  cursor: pointer;
}

.event-card {
  height: 255px;
  width: 245px;
  overflow-y: hidden;
}

.event-card :hover{
  cursor: pointer;
}

.add-text {
  font-weight: 500;
  color: #b9b9b9;
  text-align: center;
  font-size: 16pt;
  padding-top: 100px;
}

.plus {
  font-size: 24pt;
}

/*========== EVENT CARD  ==============*/

.event-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18pt;
}

.event-description {
  word-wrap: break-word;
  margin: 5px;
  width: 245px;
  height: 100px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-group {
  margin: 10px;
}

/*============ USER CARD  ==============*/
.user-card {
  height: 255px;
}

.select-style {
    width: 100%;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style select:focus {
    outline: none;
}

.event-search {
  padding: 10px;
}

.event-search-container {
  height: 120px;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  margin: 10px;
  text-align: left;
}

.events-category{

}

.events-price {

}

.events-title {
  padding: 15px;
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 700;
  overflow-x: hidden;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.events-description {
  height: 140px;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: hidden;
  /*text-overflow: ellipsis;*/
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.event-listing {
  margin-top: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #ccc;
}

.event-listing:hover {
  background: #ddd;
}

.glyphicon-trash{
  color: #ccc;
  margin-top: 20px;
  margin-left: -160px;
}

.glyphicon-trash:hover{
  color: #aaa;
  cursor: pointer;
}
