.landing-background {
  /*TODO*/
  margin-top: -20px;
  min-height: 705px;
  /*width: auto;*/
  background: #3CC6F2;
}

.landing-description {
  font-family: FaktSoftPro;
  margin-bottom: 25px;
  text-align: center;
}
